body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-159px;
  width:1239px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:131px;
  width:450px;
  height:53px;
}
#u1916_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.149019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:300px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1917 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  -webkit-box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  box-shadow:0px 1px 1px rgba(233, 233, 233, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u1918 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Pro-Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'FontAwesome5Pro-Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1919_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Pro-Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1919.mouseOver {
}
#u1919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1920_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1920_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1920_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:210px;
  width:260px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u1920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1920_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u1920.mouseOver {
}
#u1920_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u1920.focused {
}
#u1920_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u1920.disabled {
}
#u1921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:210px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u1921 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:318px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u1923 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:369px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u1925 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1926_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1926_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1926_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:369px;
  width:260px;
  height:90px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1926_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1926.mouseOver {
}
#u1926_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1926.focused {
}
#u1926_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1926.disabled {
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:266px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u1929 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1930 {
  position:absolute;
  left:282px;
  top:266px;
}
#u1930_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1930_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:259px;
  height:210px;
  visibility:hidden;
}
#u1931_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:210px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u1931_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1931_state0_content {
  left:-1px;
  top:-1px;
}
.u1933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u1933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u1933 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u1933_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u1933.mouseOver {
}
.u1933_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u1933.selected {
}
.u1933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1932-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:40px;
}
#u1932-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:260px;
  height:40px;
}
#u1932-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:260px;
  height:40px;
}
#u1932-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:260px;
  height:40px;
}
#u1932-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:260px;
  height:40px;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1935_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1935.mouseOver {
}
#u1935_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1935.selected {
}
#u1935_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1935.disabled {
}
#u1935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Pro-Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:53px;
  height:40px;
  display:flex;
  font-family:'FontAwesome5Pro-Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1937 {
  position:absolute;
  left:282px;
  top:318px;
}
#u1937_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1937_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:259px;
  height:210px;
  visibility:hidden;
}
#u1938_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:210px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u1938_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1938_state0_content {
  left:-1px;
  top:-1px;
}
.u1940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u1940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u1940 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u1940_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u1940.mouseOver {
}
.u1940_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u1940.selected {
}
.u1940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1939-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:40px;
}
#u1939-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:260px;
  height:40px;
}
#u1939-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:260px;
  height:40px;
}
#u1939-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:260px;
  height:40px;
}
#u1939-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:260px;
  height:40px;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1942_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1942.mouseOver {
}
#u1942_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  box-shadow:0px 0px 5px rgba(64, 158, 255, 0.247058823529412);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1942.selected {
}
#u1942_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1942.disabled {
}
#u1942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Pro-Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:53px;
  height:40px;
  display:flex;
  font-family:'FontAwesome5Pro-Regular', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:488px;
  width:71px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u1945 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1945_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u1945.mouseOver {
}
#u1945_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u1945.mouseDown {
}
#u1945_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u1945.disabled {
  opacity:0.7;
}
#u1945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:488px;
  width:71px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1946 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1946_img.mouseOver {
}
#u1946.mouseOver {
}
#u1946_img.mouseDown {
}
#u1946.mouseDown {
}
#u1946_img.disabled {
}
#u1946.disabled {
  opacity:0.7;
}
#u1946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.7px;
  text-align:left;
  line-height:27px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:202px;
  width:595px;
  height:273px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.7px;
  text-align:left;
  line-height:27px;
}
#u1947 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
